@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}


.react-tel-input .country-list .country.highlight {
  background-color: var(--color-base-300) !important;
}

.react-tel-input .country-list .country:hover {
  background-color: var(--color-base-200) !important;
}

.react-tel-input .flag-dropdown.open .selected-flag {
    background-color: var(--color-base-300) !important;
}
.css-m6m9ea-control {
  border-color: color-mix(in oklab, var(--color-base-content) 20%, #0000) !important;
}

.css-1va6ji1-option {
    color: var(--color-base-content) !important;
}



.container {
  @apply max-w-[40rem] m-auto;
}